[Unit]
Description=SASL authentication daemon.

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/saslauthd
ExecStart=/usr/sbin/saslauthd -m /run/saslauthd -a pam
RuntimeDirectory=saslauthd

[Install]
WantedBy=multi-user.target
